@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-dark-primary: #1b1c1d;
  --color-dark-secondary: #282a2c;
  --color-accent: #606060;
  --color-light-primary: #fff;
  --color-light-secondary: #f0f4f9;
  --color-light-accent: #e7ecef;
}
.dark {
  color: white;
  & {
    .custom-scroll::-webkit-scrollbar {
      width: 4px;
      height: 8px;
    }
    .custom-scroll::-webkit-scrollbar-track {
      background: var(--color-accent);
    }
    .custom-scroll::-webkit-scrollbar-thumb {
      background: #fff;
    }
  }
}
body {
  font-family: "Outfit", sans-serif;
}
/* Custom Scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: var(--color-light-accent);
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}
